.newsletter{

	margin-top: 40px;

	.flourish{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	.form{
		width: 100%;
		display: inline-block;
		padding: 40px 0;
		text-align: center;
		
		label{
			font-family: 'Calligraffitti';
			font-size: 1.8rem;
			color: #656565;
			letter-spacing: .15rem;
			padding: 0 5px;
		}

		.inputText{
			margin: 0 5px;
			padding:8px;
			width: 250px;
			&:focus{
			outline:none;
			}
		}

		.button{
			@include button;
			border: none;
			margin:0 5px;
			width: none;
		
		}
	
	}
}

// =====================
// MEDIAQUERIES 
// =====================
@media(max-width: 740px){
	.newsletter{
		.form{
			label{
				width: 100%;
				display: block;
				margin-bottom: 25px;
				font-size: 2.2rem;
			}
			.inputText{
				padding:12px;
				width: 300px;
			}
			.button{
				padding: 13px 25px;
			}
		}
	}
}

@media(max-width: 550px){
	.newsletter{
		.form{
			.button{
				margin-top: 25px;
			}
		}	
	}
}